@font-face {
  font-family: Roboto;
  src: url("../fonts/RobotoMt/Roboto_MtavruliBold.ttf");
}

@font-face {
  font-family: Firago;
  src: url("../fonts/FiraGO_TTF/Roman/FiraGO-Regular.ttf");
}



html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 100%;
}
